html {
    background-color: black;
    color: white;
    font-family: 'Amiri', serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}
